{% extends 'Blog/__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

	<script>
	</script>

{% endblock %}
{% block content %}
	<div class="uk-width-medium-3-4">
		<ul>
			<li>{{ user.name }}</li>
			<li>{{ user.email }}</li>
		</ul>
	</div>
	<div class="uk-width-medium-1-4">
		<div class="uk-panel uk-panel-box">
			<div class="uk-text-center">
				<img class="uk-border-circle" width="120" height="120" src="{{ blog.user_image }}">
				<h3>{{ blog.user_name }}</h3>
			</div>
		</div>
		<div class="uk-panel uk-panel-header">
			<h3 class="uk-panel-title">友情链接</h3>
			<ul class="uk-list uk-list-line">
				<li><i class="uk-icon-link"></i> <a href="#">编程</a></li>
				<li><i class="uk-icon-link"></i> <a href="#">思考</a></li>
				<li><i class="uk-icon-link"></i> <a href="#">读书</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
